API_ENV=local
API_CORS_ORIGINS=http://localhost:3000

AZURE_OPENAI_ENDPOINT=
AZURE_OPENAI_DEPLOYMENT=
AZURE_OPENAI_API_KEY=

AZURE_SPEECH_KEY=
AZURE_SPEECH_REGION=

AZURE_STORAGE_CONNECTION_STRING=

API_SARVAM_API_KEY=
